.view {
   width: 30vh;
   height: 30vh;
   margin: 1vh;
   float: left;
   border: 3px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 2px 2px 3px #e6e6e6;
   -moz-box-shadow: 2px 2px 3px #e6e6e6;
   box-shadow: 2px 2px 3px #e6e6e6;
   cursor: default;
   background: #fff center center;
}
.main {
  height: 65vh;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
}

.view .mask,.view .content {
   width: 90%;
   height: 90%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   height: 100%;

}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 5px;
   background: rgba(0, 0, 0, 0.8);
   margin: 10px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 3px 5px 3px 5px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
}

.view a.info:hover {
   -webkit-text-shadow: 0 0 5px #fff;
   -moz-text-shadow: 0 0 5px #fff;
   text-shadow: 0 0 5px #fff;
}


.icon .mask-1, .icon .mask-2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 40vh;
    width: 40vh;
    background: rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    -moz-transition: all 0.3s ease-in-out 0.6s;
    -o-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}
.icon .mask-1 {
    left: auto;
    right: 0;
    -webkit-transform: rotate(56.5deg) translateX(-20vh);
    -moz-transform: rotate(56.5deg) translateX(-20vh);
    -o-transform: rotate(56.5deg) translateX(-20vh);
    -ms-transform: rotate(56.5deg) translateX(-20vh);
    transform: rotate(56.5deg) translateX(-20vh);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.icon .mask-2 {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(56.5deg) translateX(20vh);
    -moz-transform: rotate(56.5deg) translateX(20vh);
    -o-transform: rotate(56.5deg) translateX(20vh);
    -ms-transform: rotate(56.5deg) translateX(20vh);
    transform: rotate(56.5deg) translateX(20vh);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.icon .content {
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 40vh;
    overflow: hidden;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}
.icon h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.icon:hover .content {
    height: 70%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 5vh;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}
.icon:hover .mask-1, .icon:hover .mask-2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.icon:hover .mask-1 {
    -webkit-transform: rotate(56.5deg) translateX(4.3vh);
    -moz-transform: rotate(56.5deg) translateX(4.3vh);
    -o-transform: rotate(56.5deg) translateX(4.3vh);
    -ms-transform: rotate(56.5deg) translateX(4.3vh);
    transform: rotate(56.5deg) translateX(4.3vh);
}
.icon:hover .mask-2 {
    -webkit-transform: rotate(56.5deg) translateX(-4.3vh);
    -moz-transform: rotate(56.5deg) translateX(-4.3vh);
    -o-transform: rotate(56.5deg) translateX(-4.3vh);
    -ms-transform: rotate(56.5deg) translateX(-4.3vh);
    transform: rotate(56.5deg) translateX(-4.3vh);
}
