.view {
   width: 30vh;
   height: 30vh;
   margin: 2vh;
   float: left;
   border-top: 10px solid #fff;
   border-bottom: 3px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   /*-webkit-box-shadow: 2px 2px 3px #e6e6e6;
   -moz-box-shadow: 2px 2px 3px #e6e6e6;
   box-shadow: 2px 2px 3px #e6e6e6;*/
   cursor: default;
}

.main {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view .mask,.view .content {
   width: 90%;
   height: 90%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   height: 100%;

}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 5px;
   background: rgba(0, 0, 0, 0.8);
   margin: 10px 0 0 0;
}
.view p {
   font-size: 1.8vh;
   position: relative;
   color: #fff;
   padding: 2px 5px 2px 5px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   background: #000;
   color: #fff;
   font-weight: bold;
   border: 1px solid #fff;
   border-radius: 5px;
   padding: 3px 5px;
   text-transform: uppercase;
}

.view a.info:hover {
   -webkit-text-shadow: 0 0 5px #fff;
   -moz-text-shadow: 0 0 5px #fff;
   /*text-shadow: 0 0 5px #fff;*/
   background-color: rgba(255,255,255,.3)
}


.icon .mask-1, .icon .mask-2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 40vh;
    width: 40vh;
    background: rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}
.icon .mask-1 {
    left: auto;
    right: 0;
    -webkit-transform: rotate(56.5deg) translateX(-20vh);
    transform: rotate(56.5deg) translateX(-20vh);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.icon .mask-2 {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(56.5deg) translateX(20vh);
    transform: rotate(56.5deg) translateX(20vh);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.icon .content {
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 40vh;
    overflow: hidden;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}
.icon h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.icon:hover .content {
    height: 70%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 5vh;
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}
.icon:hover .mask-1, .icon:hover .mask-2 {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.icon:hover .mask-1 {
    -webkit-transform: rotate(56.5deg) translateX(4.3vh);
    transform: rotate(56.5deg) translateX(4.3vh);
}
.icon:hover .mask-2 {
    -webkit-transform: rotate(56.5deg) translateX(-4.3vh);
    transform: rotate(56.5deg) translateX(-4.3vh);
}
