#language-content {
  padding: 3%;
  width: 90%;
  border-top: 1px solid #fff;
  border-bottom:1px solid #fff;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#language-content h2 {
  font-size: 3vh;
  margin: 0;
}

#language-content p {
  font-size: 2.5vh;
  margin: 0;
}

#language-content > div.language {
  height: 30%;
  width: 100%;
  display: none;
  align-items: center;
}

#language-content > div#linguist {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
