#language-content {
  padding: 3%;
  width: 90%;
  border-top: 1px solid #fff;
  border-bottom:1px solid #fff;
  height: 60vh;
}

#language-content h2 {
  font-size: 3vh;
  margin: 0;
}

#language-content p {
  font-size: 2.5vh;
  margin: 0;
}

#language-content > div.language {
  height: 18vh;
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#language-content > div#linguist {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#language-content > div#image {
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 2px solid white;
  border-radius: 1vh;
}
