menu {
  width: 8vw;
  position: fixed;
  right: 0;
  top: 20vh;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}

.menu-button {
  margin: 5px;
  width: 10vh;
  height: 10vh;
  background-color: #757D86;
  border-radius: 5vh;
}

menu div {
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s ease;
}

menu #top {
  border: 2px solid #35434c;
  background-size: 60%;
  background-image: url("../images/icons/computer-icon-grey.png");
}

menu #dev {
  border: 2px solid #23aab8;
  background-image: url("../images/icons/dev-icon-blue.png");

}

menu #design {
  border: 2px solid #fb3640;
  background-image: url("../images/icons/design-icon-red.png");
}

menu #globe {
  border: 2px solid #6fb249;
  background-image: url("../images/icons/globe-icon-green.png");
}

menu #envelope {
  border: 2px solid #ffe74c;
  background-image: url("../images/icons/envelope-icon-yellow.png");
}

menu div:hover {
  cursor: pointer;
  transition: 1s ease;
}


menu #top:hover {
  background-color: #35434c;
  border-color: #fff;
  background-image: url("../images/icons/computer-icon.png");
}

menu #dev:hover {
  background-color: #23aab8;
  border-color: #fff;
  background-image: url("../images/icons/dev-icon.png");
}

menu #design:hover {
  background-color: #fb3640;
  border-color: #fff;
  background-image: url("../images/icons/design-icon.png");
}

menu #globe:hover {
  background-color: #6fb249;
  border-color: #fff;
  background-image: url("../images/icons/globe-icon.png");
}

menu #envelope:hover {
  background-color: #ffe74c;
  border-color: #fff;
  background-image: url("../images/icons/envelope-icon.png");
}

@media (max-width: 500px) {
  menu {
    width: auto;
    height: 8vh;
    top: 1vh;
    right: auto;
    margin: 0 auto;
  }

  .menu-button {
    margin: 5px;
    width: 7vh;
    height: 7vh;
    background-color: #757D86;
    border-radius: 4vh;
  }
}
