/*font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Abel', sans-serif;*/

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 25vh;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  background-color: #2B9132;
  color: transparent;
  text-shadow: 2px 3px 6px rgba(255,255,255,0.4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 5vh;
  font-family: "Abel", sans-serif;
  background-color: #2B9132;
  color: transparent;
  text-shadow: 2px 3px 6px rgba(255,255,255,0.4);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.top {
  padding: 5vh;
  height: 65vh;
  text-transform: uppercase;
  line-height: .9;
  box-shadow: 0px 0px 12px 10px rgba(0,0,0,.2) inset, 0 0 0 1px #c0c0c0;
  display: flex;
}

#main {
  border: 1px solid black;
}

#secondary {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  line-height: 2.5;
  display: flex;
  flex-wrap:wrap;
}

.bottom {
  margin-top: .2vh;
  height: 34.8vh;
  display: flex;
  flex-wrap: wrap;
}

.segment {
  box-shadow: 0px 0px 12px 4px rgba(0,0,0,.2) inset, 0 0 0 1px #c0c0c0;
}

.top .segment {
  width: 16.05vw;
}

.bottom .segment {
  width: 20vw;
}
