html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

.main-container {
  height: 80vh;
  display: flex;
  padding: 12vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.main-text {
  height: 65vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 65vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
}

.secondary-container {
  background-color: #35434C;
  height: 45vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1 span {
  font-size: 4.5vw;
  color: #757D86;
  display: none;
}

h2 {
  font-size: 1.5vw;
  font-weight: bold;
  color: #35434C;
  text-transform: uppercase;
  padding-bottom: 10px;
}

p {
  color: #fff;
  font-size: 1.3vw;
  padding-bottom: 10px;
}

/*main-one*/
#main-one .main-text {
  display: block;
}

#hello {
  font-size: 7vw;
  padding: 0 30px;
  text-align: center;
  border: 2px solid #23aab8;
}

#ih, #web, #role {
  font-size: 6vw;
}

#ih, #web {
 margin-left: 10%;
}

#ih, #role {
  color: #23aab8;
}

#ih {
  transition: color 2s ease;
}

#hello {
  transition: border-color 2s ease;
}

#brain img {
  width: 100%;
  display:none;
}

/*main-two*/

.text-contain {
  display: block;
}

#laptop {
  flex-shrink:0;
  background-image: url("../images/main/mbp-laptop.png");
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 1.5vh;
  padding-bottom: 1.5vh;
}

#laptop img {
  width: 51vh;

}

.sub-container {
  height: 10vh;
  padding-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sub-container h2 {
  margin: 2vw;
  border-top: 10px solid #35434C;
  cursor: pointer;
  transition: font-size 1s ease;
}

.sub-container h2:hover {
  color: #fff;
}

.sub-container .active {
  color: #fff;
  font-size: 3vw;
}

#design-graphic {
  order: -1;
  background-color: #fb3640;
}

#design-graphic img {
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.6), 0 0 50px rgba(0,0,0,0.1) inset;
}

#design-graphic img:before, #design-graphic img:after {
  content:"";
  position: absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.9);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}

/*container backgrounds, etc.*/
#main-one {
  background-image: url("../images/bg-main/wash-mon.png");
}

#main-two {
  background-color: #23aab8;
}

#sec-one {
  background-image: url("../images/bg-main/concert.png");
}

#main-three {
  background-color: #fb3640;
}

#sec-two {
  background-image: url("../images/bg-main/sky-dive.png");
}

#main-four {
  background-color: #6fb249;
}

#sec-three {
  background-image: url("../images/bg-main/bike.png");

}

#main-five {
  background-color: #ffe74c;
}


@media (max-width: 500px) {
  /*all*/
  .main-container {
    padding: 2vh;
    height: 94vh;
  }

  .main-text {
    width: auto;
  }

  p {
    font-size: 2vh;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 3vh;
    padding-bottom: 0;
  }

  /*main-one*/
  #main-one {
    padding-top: 8vh;
    justify-content: center;
  }

  #main-one .main-text {
    height: 40vh;
    width: 70vw;
  }

  #brain {
    height: 30vh;
    width: 70%;
    order: -1;
  }

  h1 span {
    font-size: 4.5vh;
  }

  #hello {
    font-size: 6vh;
    padding: 0 1vh;
    text-align: center;
    border: 2px solid #23aab8;
  }

  #ih, #web, #role {
    font-size: 6vh;
  }

  #main-two {
    padding-top: 9vh;
  }

  #main-three {
    padding-top: 9vh;
  }

  #main-three .sub-container {
    order: -1;
    width: 70vw;
  }

  #laptop {
    flex-shrink: auto;
    background: none;
    width: auto;
    height: auto;
    margin: 1vh;
    order: 0;
  }

  #design-graphic {
    width: auto;
    height: auto;
    margin: 1vh;
    order: 0;
  }

  .image-container img {
    margin: 0 auto;
  }

  .sub-container {
    padding-top: 0;
    margin-bottom: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sub-container h2 {
    margin: 2vw;
    border-top: 10px solid #35434C;
  }

  .sub-container .active {
    color: #fff;
    font-size: 3vh;
  }

  #main-two .main-text, #main-three .main-text {
    order: 1;
    padding: 0;
    height: 35vh;
    align-items: baseline;
  }

  #main-two .main-text .text-contain h2 {
    display: none;
  }

  #sub-two {
    order: -1;
    width: auto;
  }

  .secondary-container{
    background-size: cover;
    background-repeat: no-repeat;
  }

  #sec-one {
    background-position: left
  }


}
